<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item list-group-item-action list-group-item-dark">
      <a class="list-group-item list-group-item-action list-group-item-dark"
       href="{% url 'task_manager:worker-detail' pk=user.id %}">{{ user.get_username }}</a>
    </li>
    <a class="list-group-item list-group-item-action list-group-item-warning" href="{% url 'logout' %}">Logout</a>
  {% else %}
    <a class="list-group-item list-group-item-action list-group-item-success" href="{% url 'login' %}">Login</a>
  {% endif %}
  <hr>
  <a class="list-group-item list-group-item-action list-group-item-dark" href="{% url 'task_manager:index' %}">Home</a>
  <a class="list-group-item list-group-item-action list-group-item-secondary" href="{% url 'task_manager:task-list' %}">All tasks</a>
  <a class="list-group-item list-group-item-action list-group-item-secondary" href="{% url 'task_manager:worker-list' %}">All workers</a>
</ul>
